In [2]:
print("Hello, World!")

Hello, World!

Data types
1. Numbers
2. String
3. Boolean
4. List
5. Tuple
6. Dictionary

In [9]:
var1= 10
var2 =10.13434
var3 = "sdsd"
print(type(var1))
print(type(var2))
print(type(var3))
print(var3)

<class 'int'>
<class 'float'>
<class 'str'>
sdsd

In [12]:
if (var1 == 10):
    print("Var is 10")

Var is 10

In [21]:
# Loops
i = 0
while (i<10):
    #print(i)
    i+=1

for l in range(1,10):
    print(l)

1
2
3
4
5
6
7
8
9

In [18]:
li = [1,"2","Name","232"]
for l in li:
    for ch  in str(l):
        print(l,ch)

1 1
2 2
Name N
Name a
Name m
Name e
232 2
232 3
232 2

List is sequence of elements

In [25]:
List = ["Jit","set"]
List[0] = "put"
List.append(2)
List

['put', 'set', 2]

In [26]:
list2 = [1,2,3,4,5]
list2 = [list2, List]
print("List is sequence of elements")
print(list2)

List is sequence of elements
[[1, 2, 3, 4, 5], ['put', 'set', 2]]

In [48]:
list2[:2][2:4]

[]

Tuples are immutable and sequence of elements, faster access to elements

In [56]:
# sequence of elements
tup = ("1234","12","232","2323")
print(type(tup))
litsT = list(tup)

<class 'tuple'>

In [57]:
litsT[0] = '32'
tup

('1234', '12', '232', '2323')

Dictionary --> key value pair
values can be accessed using key
JSON fields

In [67]:
Address = {
    'Street' : '180 street',
    'City' : 'Chicago',
    'State' : 'Maharashtra'
}
type(Address)
len(Address)
str(Address)
Address.keys()
Address.__len__

In [62]:
Address['City']
Address['country']='india'
del Address
Address

NameError: name 'Address' is not defined

NameError: name 'Address' is not defined

open file , write, read

open file modes
1. 'r'- read mode 
2.  w - write opens a file and truncating the data first
3.  a - open file and append data
4.  b - binary mode

seek(0) --> it moves pointer to start of the file
rstrip(char) --> it removes extra char in in wow

In [88]:
cittemp =open('citytemp.csv', 'r') 
# total records is 38
print(cittemp.readline()) # first records
cittemp.readlines() # next 37 records   f

cittemp.seek(0)
for records in cittemp:
    records = records.rstrip('\n')
    print(records)

Chicago,85,F

Chicago,85,F
Chicago,89,F
Chicago,70,F
Chicago,80,F
Chicago,88,F
Chicago,72,F
Chicago,76,F
Chicago,74,F
Chicago,70,F
San Francisco,61,F
San Francisco,52,F
San Francisco,65,F
San Francisco,57,F
San Francisco,51,F
San Francisco,61,F
San Francisco,55,F
London,15,C
London,10,C
London,18,C
London,19,C
London,17,C
London,18,C
London,11,C
Delhi,30,C
Delhi,23,C
Delhi,27,C
Delhi,21,C
Delhi,29,C
Delhi,22,C
Delhi,28,C
Delhi,20,C
Sydney,32,C
Sydney,27,C
Sydney,82,F
Sydney,25,C
Sydney,81,F
Sydney,76,F
Sydney,20,C

In [86]:
cittemp =open('citytemp.csv', 'r') 

rec1 = cittemp.readline()
parts = rec1.strip().split(',')
if len(parts) == 3:
	city, temp, unit = parts
	print(city, temp, unit)
else:
	print("Line does not contain 3 comma-separated values:", parts)

citywrite = open('citywrite.csv', 'w')
citywrite.write(rec1)
citywrite.close()
cittemp.close()

Chicago 85 F

Excerise find citywise avg temperature , convert celisue to fer

In [6]:
def CelsiusToFahrenheit(temp:float):
    return (temp * (9/5)) +  32



avgCityTemp = {}

with open('citytemp.csv', 'r') as citytemps:
    for line in citytemps:
        line = line.strip()
        if not line:
            continue
        parts = [p.strip() for p in line.split(',')]
        if len(parts) != 3:
            continue
        city, temp_str , unit = parts
        try:
            temp_val = float(temp_str)
        except ValueError:
            continue

        unit_norm = (unit or '').strip().upper()
        temp_f = CelsiusToFahrenheit(temp_val) if unit_norm.startswith('C') else temp_val
        #print(f"City: {city}, Temp: {temp_f} F")
        rec = avgCityTemp.setdefault(city, {"sum": 0.0, "count": 0})
        rec["sum"] += temp_f
        rec["count"] += 1

# Final averages per city (in Fahrenheit)
print(avgCityTemp)
city_avg_f = {city: round(data["sum"]/data["count"], 2) for city, data in avgCityTemp.items()}
print(city_avg_f)

# Iterate values
for value in city_avg_f.values():
    print("avg F:", value)

# Check if a particular value exists
target = 75.0
if target in city_avg_f.values():
    print("Found average temp:", target)

{'Chicago': {'sum': 704.0, 'count': 9}, 'San Francisco': {'sum': 402.0, 'count': 7}, 'London': {'sum': 418.40000000000003, 'count': 7}, 'Delhi': {'sum': 616.0, 'count': 8}, 'Sydney': {'sum': 554.2, 'count': 7}}
{'Chicago': 78.22, 'San Francisco': 57.43, 'London': 59.77, 'Delhi': 77.0, 'Sydney': 79.17}
avg F: 78.22
avg F: 57.43
avg F: 59.77
avg F: 77.0
avg F: 79.17